// Variables
// ========================================

/* Font Family */
$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;


/* Font size */
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;

/* Line Height */
$line-height-small: 18px;
$line-height-normal: 22px;
$line-height-large: 26px;