{% extends "_layouts/pages/admin.html" %}

{% block content %}

<header class="page-header">
    Page header
</header>

<div class="page-content">

    <section class="section">
        <div class="container-fluid">

            <header class="section-header">
                section header
            </header>

            <div class="section-body">
                section body
            </div>

            <footer class="section-footer">
                section footer
            </footer>

        </div>
    </section>

    <div class="container-fluid">

        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>
        admin content<br>

    </div>
</div>

<footer class="page-footer">
    Page Footer
</footer>

{% endblock %}