{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

{% include "components/carousel.html" with {slides: [{
    title: "Slide 1",
    illustration: "ban1-1200x380.jpg"
},{
    title: "Slide 2",
    illustration: "ban2-1200x380.jpg"
},{
    title: "Slide 3",
    illustration: "ban1-1200x380.jpg"
},{
    title: "Slide 4",
    illustration: "ban2-1200x380.jpg"
}]} only %}


<section class="section bg-gray bg-img overlay overlay-light overlay-85" style="background-image: url(https://dqvh7oj3vu3ch.cloudfront.net/720x,q85/articles/31.08_-_FB_&_G+.jpg);" data-aos="fade-up">
    <div class="container">
        
        <header class="heading section-header">
            <div class="heading-content">
                <p class="heading-alt">lorem</p>
                <h3 class="heading-title">Section Title</h3>
                <p class="heading-lead">Lorem ipsum dolor sit amet <span class="colored">consectetur adipisicing</span> elit. Nihil, veritatis nostrum. Voluptas error fugiat facilis libero porro aperiam magnam ab veniam praesentium? Velit fugit aliquam assumenda facere illo illum unde.</p>
            </div>
        </header>
        
    </div>
</section>


{% for i in 0..5 %}

<section class="section {% if i%2 != 0 %}bg-gray{% endif %}" data-aos="fade-up">
    <div class="container">
        
        <header class="heading section-header text-center">
            <div class="heading-content">
                <p class="heading-alt">lorem</p>
                <h3 class="heading-title with-border">Section Title</h3>
                <p class="heading-lead">Lorem ipsum dolor sit amet <span class="colored">consectetur adipisicing</span> elit. Nihil, veritatis nostrum. Voluptas error fugiat facilis libero porro aperiam magnam ab veniam praesentium? Velit fugit aliquam assumenda facere illo illum unde.</p>
            </div>
        </header>

        <div class="section-content">
            <div class="row">
                {% for j in 0..2 %}
                <div class="col-4">

                    <div class="card text-center">
                        <div class="card-header">
                            <img data-img="space-rocket.svg" width="48" alt="">
                            {# <img src="assets/images/space-rocket.svg" width="48" alt=""> #}
                            <h4>Card title</h4>
                        </div>
                        <div class="card-body">
                            {% if j%2 == 0 %}
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae vero aliquam maiores ad amet quo quos necessitatibus a cum pariatur dolorem quam officia culpa esse, architecto provident veritatis ullam!</p>
                            {% endif %}
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae vero aliquam maiores ad amet quo quos necessitatibus a cum pariatur dolorem quam officia culpa esse, architecto provident veritatis ullam!</p>
                        </div>
                        <div class="card-footer">
                            Footer
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</section>
{% endfor %}

{% endblock %}