{% extends "base.html" %}
{% set pageTitle = "Forgotten password ?" %}

{% block title %}{{ pageTitle }}{% endblock %}


{% block security_header %}
<h3 class="security-title">Retrieve your password</h3>
{% endblock %}


{% block security_form %}
<div class="form-group">
    <input type="email" class="form-control" name="login" id="login" placeholder="Login" aria-describedby="loginHelp">
    {# <small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #}
</div>

<button type="submit" class="btn btn-block btn-sm btn-primary">Reset my password</button>
{% endblock %}


{% block security_footer %}
<a class="btn" href="{{ url('_login') }}">Sign In ?</a> 

{% if app().security().get('registration_allowed') %}
or 
<a class="btn" href="{{ url('_register') }}">Create a new account</a>
{% endif %}
{% endblock %}
