{% extends "_layouts/pages/admin.html" %}

{% block body %}
<div class="row">
    <div class="col-4 offset-4">

        <h3>Log in to your account</h3>

        <p>You will receive an email momentarily with a secure login link.</p>

        <form method="POST">

            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Enter your email">
            </div>

            <button type="submit" class="btn btn-primary">Log in</button>
        </form>

    </div>
</div>
{% endblock %}