{% extends "_layouts/pages/security.html" %}
{% set pageTitle = "Sign in to your account" %}

{% block title %}{{ pageTitle }}{% endblock %}


{% block security_header %}
<h3 class="security-title">Account sign in</h3>
<p class="security-lead">{{ pageTitle }}</p>
{% endblock %}


{% block security_form %}
<div class="form-group">
    {# <label for="login">login</label> #}
    <input type="email" class="form-control" name="login" id="login" placeholder="Login" aria-describedby="loginHelp">
    {# <small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #}
</div>

<div class="form-group">
    {# <label for="password">Password</label> #}
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
</div>

<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" name="remember-me" id="remember-me">
    <label class="form-check-label" for="remember-me">Remember me</label>
</div>

<button type="submit" class="btn btn-block btn-sm btn-primary">Sign In</button>
{% endblock %}


{% block security_footer %}
<a class="btn" href="{{ url('_forgot_password') }}">Forgot password ?</a>
<a class="btn" href="{{ url('_register') }}">Create a new account</a>
{% endblock %}
