{% extends "_layouts/pages/admin.html" %}

{% block body %}
<div class="row">
    <div class="col-4 offset-4">

        <h3>Log in to your account</h3>

        <form method="POST">
            <div class="form-group">
                <label for="login">login</label>
                <input type="email" class="form-control" name="login" id="login" aria-describedby="loginHelp">
                <small id="loginHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="remember-me" id="remember-me">
                <label class="form-check-label" for="remember-me">Remember me</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <a href="{{ url('_register') }}">Create new account</a>

    </div>
</div>
{% endblock %}