{% extends "_layouts/pages/admin.html" %}

{% set data = getFlashData() %}
{% set errors = [] %}
{% set firstname = "" %}
{% set lastname = "" %}
{% set email = "" %}

{% if data.errors is defined %}
{% set errors = data.errors %}
{% endif %}

{% if data.values is defined %}
{% if data.values.firstname %}{% set firstname = data.values.firstname %}{% endif %}
{% if data.values.lastname %}{% set lastname = data.values.lastname %}{% endif %}
{% if data.values.email %}{% set email = data.values.email %}{% endif %}
{% endif %}

{% block body %}
<div class="row">
    <div class="col-4 offset-4">

        <h3>Create your new account</h3>

        <form method="POST" novalidate="novalidate">

            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control {% if errors.firstname is defined %}is-invalid{% endif %}" name="firstname" id="firstname" value="{{ firstname }}" required>
                {% if errors.firstname is defined %}<small class="invalid-feedback">{{errors.firstname}}</small>{% endif %}
            </div>

            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control {% if errors.lastname is defined %}is-invalid{% endif %}" name="lastname" id="lastname" value="{{ lastname }}" required>
                {% if errors.lastname is defined %}<small class="invalid-feedback">{{errors.lastname}}</small>{% endif %}
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control {% if errors.email is defined %}is-invalid{% endif %}" name="email" id="email" value="{{ email }}" required>
                {% if errors.email is defined %}<small class="invalid-feedback">{{errors.email}}</small>{% endif %}
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control {% if errors.password is defined %}is-invalid{% endif %}" name="password" id="password" required>
                {% if errors.password is defined %}<small class="invalid-feedback">{{errors.password}}</small>{% endif %}
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control {% if errors.confirm is defined %}is-invalid{% endif %}" name="confirmPassword" id="confirmPassword" required>
                {% if errors.confirm is defined %}<small class="invalid-feedback">{{errors.confirm}}</small>{% endif %}
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <a href="{{ url('_login') }}">Login</a>

    </div>
</div>
{% endblock %}