{% extends "_layouts/pages/security.html" %}

{% set data = getFlashData() %}
{% set errors = [] %}
{% set firstname = "" %}
{% set lastname = "" %}
{% set email = "" %}

{% if data.errors is defined %}
{% set errors = data.errors %}
{% endif %}

{% if data.values is defined %}
{% if data.values.firstname %}{% set firstname = data.values.firstname %}{% endif %}
{% if data.values.lastname %}{% set lastname = data.values.lastname %}{% endif %}
{% if data.values.email %}{% set email = data.values.email %}{% endif %}
{% endif %}



{% set pageTitle = "Create your new account" %}

{% block title %}{{ pageTitle }}{% endblock %}


{% block security_header %}
<h3 class="security-title">{{ pageTitle }}</h3>
<p class="security-lead">{{ pageTitle }}</p>
{% endblock %}


{% block security_form %}
<div class="form-group">
    {# <label for="firstname">Firstname</label> #}
    <input type="text" class="form-control {% if errors.firstname is defined %}is-invalid{% endif %}" name="firstname" id="firstname" placeholder="firstname" value="{{ firstname }}" required>
    {% if errors.firstname is defined %}<small class="invalid-feedback">{{errors.firstname}}</small>{% endif %}
</div>

<div class="form-group">
    {# <label for="lastname">Lastname</label> #}
    <input type="text" class="form-control {% if errors.lastname is defined %}is-invalid{% endif %}" name="lastname" id="lastname" placeholder="lastname" value="{{ lastname }}" required>
    {% if errors.lastname is defined %}<small class="invalid-feedback">{{errors.lastname}}</small>{% endif %}
</div>

<div class="form-group">
    {# <label for="email">Email</label> #}
    <input type="email" class="form-control {% if errors.email is defined %}is-invalid{% endif %}" name="email" id="email" placeholder="email" value="{{ email }}" required>
    {% if errors.email is defined %}<small class="invalid-feedback">{{errors.email}}</small>{% endif %}
</div>

<div class="form-group">
    {# <label for="password">Password</label> #}
    <input type="password" class="form-control {% if errors.password is defined %}is-invalid{% endif %}" name="password" id="password" placeholder="password" required>
    {% if errors.password is defined %}<small class="invalid-feedback">{{errors.password}}</small>{% endif %}
</div>

<div class="form-group">
    {# <label for="confirmPassword">Confirm Password</label> #}
    <input type="password" class="form-control {% if errors.confirm is defined %}is-invalid{% endif %}" name="confirmPassword" id="confirmPassword" placeholder="repeat your password" required>
    {% if errors.confirm is defined %}<small class="invalid-feedback">{{errors.confirm}}</small>{% endif %}
</div>

<button type="submit" class="btn btn-block btn-sm btn-primary">Register</button>
{% endblock %}


{% block security_footer %}
Already have an account ? <a class="btn" href="{{ url('_login') }}">Sign In</a>
{% endblock %}
