<div class="footer-nav">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <h5>Ashway</h5>
                <ul class="list-unstyled">
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Learning</a></li>
                    <li><a href="">Dribbble</a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h5>Ashway</h5>
                <ul class="list-unstyled">
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Learning</a></li>
                    <li><a href="">Dribbble</a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h5>Ashway</h5>
                <ul class="list-unstyled">
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Learning</a></li>
                    <li><a href="">Dribbble</a></li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h5>Ashway</h5>
                <ul class="list-unstyled">
                    <li><a href="">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Learning</a></li>
                    <li><a href="">Dribbble</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">

        <div class="content">
            &copy; Copyright 2020
        </div>

    </div>
</div>