/*==========================*/
/*== Main Footer ===========*/
/*==========================*/

.main-footer {
    border-top: 1px solid #f5f5f5;
}
.footer-nav {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.footer-copyright {
    color: #9aa7af;
    font-size: 12px;
}


.footer-nav h5 {
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-nav ul {
    margin-bottom: 0;
}
.footer-nav ul li {
    margin: 5px 0px;
}
.footer-nav a {
    color: #9aa7af;
    transition: all .3s;
}
.footer-nav a:hover {
    color: #f16000;
    text-decoration: none;
}

.footer-copyright .content {
    border-top: 1px solid rgba(151, 160, 175, 0.2);

    padding-top: 20px;
    padding-bottom: 20px;
}