<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Admin</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/admin.min.css">
    {% endblock %}
</head>
<body>
        
    <!-- Main Header -->
    <!--===================================================-->
    <header id="main-header" class="main-header">
        <nav class="navbar">
            <div class="navbar-content">

                <form class="form-inline search-form" onsubmit="return false;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i data-feather="search"></i></div>
                        </div>
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a data-href="{{ url('admin:books:index') }}" class="nav-link"><i data-feather="book"></i></a>
                    </li>
                    <li class="nav-item">
                        <a data-href="{{ url('admin:calendar') }}" class="nav-link"><i data-feather="calendar"></i></a>
                    </li>
                    <li class="nav-item">
                        <a data-href="{{ url('admin:messages') }}" class="nav-link"><i data-feather="mail"></i></a>
                    </li>
                    <li class="nav-item">
                        <a data-href="{{ url('admin:notifications') }}" class="nav-link"><i data-feather="bell"></i></a>
                    </li>

                    <li class="nav-item dropdown dropdown-border">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user().firstname }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url('_logout') }}"><i data-feather="log-out"></i> Logout</a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!--===================================================-->
    
    
    <!-- Main Sidebar -->
    <!--===================================================-->
    <aside id="main-sidebar" class="main-sidebar">

        <div class="sidebar-header">
            <a data-href="{{ url('admin:dashboard') }}" data-type="text/html" class="sidebar-brand">
                Ash<span class="colored">Way</span>
            </a>
        </div>

        <div class="sidebar-body">
            <ul class="nav">

                <!-- Nav Section : Main -->
                <!--=========================-->
                <li class="nav-item nav-category">main</li>
                <li class="nav-item">
                    <a data-href="{{ url('admin:dashboard') }}" class="nav-link">
                        <i class="link-icon" data-feather="monitor"></i>
                        <span class="link-title">Dashboard</span>
                    </a>
                </li>

                <!-- Nav Section : WebApps -->
                <!--=========================-->
                <li class="nav-item nav-category">Web Apps</li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#emails" role="button" aria-expanded="false" aria-controls="emails">
                        <i class="link-icon" data-feather="mail"></i> <span class="link-title">Email</span> <i class="link-arrow" data-feather="chevron-down"></i>
                    </a>
                    <div class="collapse" id="emails">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a href="../../pages/email/inbox.html" class="nav-link">Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../pages/email/read.html" class="nav-link">Read</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../pages/email/compose.html" class="nav-link">Compose</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#calendar" role="button" aria-expanded="false" aria-controls="calendar">
                        <i class="link-icon" data-feather="calendar"></i> <span class="link-title">Calendar</span> <i class="link-arrow" data-feather="chevron-down"></i>
                    </a>
                    <div class="collapse" id="calendar">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a href="../../pages/email/inbox.html" class="nav-link">Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../pages/email/read.html" class="nav-link">Read</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../pages/email/compose.html" class="nav-link">Compose</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Nav Section : Pages -->
                <!--=========================-->
                <li class="nav-item nav-category">Pages</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="home"></i>
                        <span class="link-title">Homepage</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="book"></i>
                        <span class="link-title">Page</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="book"></i>
                        <span class="link-title">Page</span>
                    </a>
                </li>

                <!-- Nav Section : E-Commerce -->
                <!--=========================-->
                <li class="nav-item nav-category">E-Commerce</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="shopping-cart"></i>
                        <span class="link-title">Order</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#catalog" role="button" aria-expanded="false" aria-controls="catalog">
                        <i class="link-icon" data-feather="shopping-bag"></i> <span class="link-title">Catalog</span> <i class="link-arrow" data-feather="chevron-down"></i>
                    </a>
                    <div class="collapse" id="catalog">
                        <ul class="nav sub-menu">
                            <li class="nav-item">
                                <a href="../../pages/email/inbox.html" class="nav-link">Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../pages/email/read.html" class="nav-link">Read</a>
                            </li>
                            <li class="nav-item">
                                <a href="../../pages/email/compose.html" class="nav-link">Compose</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="truck"></i>
                        <span class="link-title">Providers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="dollar-sign"></i>
                        <span class="link-title">Financials</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="tag"></i>
                        <span class="link-title">Rebates</span>
                    </a>
                </li>

                <!-- Nav Section : Components -->
                <!--=========================-->
                <li class="nav-item nav-category">Components</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="trending-up"></i>
                        <span class="link-title">Analytics</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="menu"></i>
                        <span class="link-title">Menus</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="link-icon" data-feather="box"></i>
                        <span class="link-title">Plugins</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar-footer">
            sidebar footer
        </div>

    </aside>
    <!--===================================================-->
    

    <!-- Main Content -->
    <!--===================================================-->
    <main id="main-content" class="main-content">
        {% include "components/flashbag.html" %}
        <div id="router-outlet" class="{{ app().routing().get('data')['class'] }}">
            {% block content %}{% endblock %}
        </div>
    </main>
    <!--===================================================-->
    

    <!-- JavaScript -->
    <!--===================================================-->
    <script src="/assets/js/admin.js"></script>
</body>
</html>