/*==========================*/
/*== Wrapper ===============*/
/*==========================*/

html, body {
    margin:0;
    height:100%;
    min-height:100%;

    background: #f9fafb;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #4c5667;
    font-size: 14px;
    line-height: 22px;
    overflow-x: hidden;
}


a, a[data-href] {
    cursor: pointer;
}


/* feather icon */
.feather {
    width: 16px;
    height: 16px;
}


/* Form */
.form-control:focus {
    outline: none;
    outline-width: 0;
    outline-color: transparent;
    box-shadow: none;
    outline-style: none;
    z-index: 2;
}



/*==========================*/
/*== Main Header ===========*/
/*==========================*/

.main-header {
    background-color: #ffffff;
    /* background-color: #343a40; */
    height: 60px;
    padding-left: 240px;
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);

    z-index: 998;
}


/* Search */
.navbar .search-form {
    width: 100%;
    margin-right: 60px;
}
.search-form {
    align-items: center !important;
}
.search-form {
    border: 0;
    background: #fff;
    margin-top: 3px;
}
.search-form .input-group .input-group-prepend .input-group-text {
    padding: 0;
    border: 0;
    color: #535353;
    background: #fff;
}
.search-form .input-group .form-control {
    border: 0;
    background: #fff;
    padding: 0 .8rem;
    margin-top: 3px;

    font-weight: 400;
    font-size: 0.875rem;
}
.search-form .input-group .form-control::placeholder {
    color: #a7b4c4;
    opacity: 1;
}
.search-form .input-group .form-control:-ms-input-placeholder {
    color: #a7b4c4;
}
.search-form .input-group .form-control::-ms-input-placeholder {
    color: #a7b4c4;
}

/* NavBar */

.navbar {
    /* width: calc(100% - 240px); */
    /* height: 60px; */
    height: 100%;
    /* background: #F90; */
    /* border-bottom: 1px solid #f2f4f9; */
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
    /* position: fixed;
    right: 0;
    left: 240px;
    z-index: 978; */
    /* box-shadow: 3px 0 10px 0 rgba(183, 192, 206, 0.2);
    transition: width .1s ease, left .1s ease; */
}
.navbar .navbar-content {
    /* background: green; */
    display: -webkit-flex;
    display: flex;
    /* width: 100%;
    height: 100%; */
    /* padding-left: 25px;
    padding-right: 25px; */

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar .navbar-content .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar .navbar-content .navbar-nav .nav-item {
    /* background-color: yellowgreen; */
    position: relative;
    min-width: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.navbar .navbar-content .navbar-nav .nav-link {
    color: #4c5667;
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    border: 1px solid transparent;
}
.navbar .navbar-content .navbar-nav .nav-item:hover .nav-link {
    color: #222c36;
    color: #000000;
}
.navbar .navbar-content .navbar-nav .nav-item.active .nav-link {
    color: #f16000;
}
.navbar .navbar-content .navbar-nav .nav-item.dropdown.show .nav-link {
    color: #f16000;
    color: #000000;

    background-color: #FFFFFF;
}
/* nav-link with border */
.navbar .navbar-content .navbar-nav .nav-item.dropdown-border.show .nav-link {
    border-left: 1px solid #f2f4f9;
    border-right: 1px solid #f2f4f9;
    border-top: 1px solid #f2f4f9;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 2;
}
.navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu {
    /* background-color: #f9fafb; */
    max-width: 280px;
    position: absolute;
    /* right: -20px; */
    left: auto;
    /* bottom: -1px; */
    border-radius: 0;
    margin-top: -1px;
    /* border-top: none;
    border-left: 1px solid #f2f4f9;
    border-right: 1px solid #f2f4f9;
    border-bottom: 1px solid #f2f4f9; */
    border: 1px solid #f2f4f9;
    box-shadow: 0 5px 10px 0 rgba(183, 192, 206, 0.2);
    font-size: .875rem;

    z-index: 1;
}



/*==========================*/
/*== Main Sidebar ==========*/
/*==========================*/

.main-sidebar {
    background-color: #ffffff;
    /* background-color: #343a40; */
    width: 240px;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    z-index: 999;
}
.sidebar-header {
    background-color: #ffffff;
    /* background-color: #343a40; */
    border-right: 1px solid #f2f4f9;
    border-bottom: 1px solid #f2f4f9;
    height: 60px;

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 16px;

    z-index: 999;
    width: 100%;

    /* -webkit-transition: width .1s ease;
    transition: width .1s ease; */
}
.sidebar-body {
    background-color: #ffffff;
    /* background-color: #222c36; */
    border-right: 1px solid #f2f4f9;
    height: calc(100% - 60px - 60px);
    width: 100%;
    
    position: absolute;

    flex-grow: 1;
    overflow-y: auto;

    -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
}
.sidebar-footer {
    background-color: #ffffff;
    /* background-color: #343a40; */
    border-right: 1px solid #f2f4f9;
    border-top: 1px solid #f2f4f9;
    height: 60px;
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
}


.sidebar-body .nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 25px 25px 50px 25px;
}


.sidebar-body .nav .nav-item.nav-category {
    color: #a7b4c4;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 5px;
    height: 15px;
}
.sidebar-body .nav .nav-item.nav-category:not(:first-child) {
    margin-top: 20px;
}


.sidebar-body .nav .nav-item {
    position: relative;
}
.sidebar-body .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0;
    height: 32px;
    white-space: nowrap;
    color: #000;
}

.link-icon {
    width: 16px;
    height: 16px;
    fill: rgba(233, 236, 239, 0.21);
    position: absolute;
    color: inherit;
}

.link-arrow {
    width: 14px;
    height: 14px;
    margin-left: auto;
    -webkit-transition: all .3s ease;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: inherit;
}
.link-arrow {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.nav-link[aria-expanded="true"] .link-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(180deg);
}

.link-title {
    margin-left: 30px;
    font-size: 14px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidebar-body .nav .nav-item .nav-link .link-icon, 
.sidebar-body .nav .nav-item .nav-link .link-title, 
.sidebar-body .nav .nav-item .nav-link .link-arrow {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.sidebar-body .nav.sub-menu {
    padding: 0 0 15px 33px;
}

.sidebar-body .nav.sub-menu .nav-item:hover .nav-link {
    color: #4c5667;
    margin-left: 3px;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
    height: 25px;
    color: #000;
    font-size: 13px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.sidebar-body .nav.sub-menu .nav-item:hover .nav-link::before {
    border: 1px solid #4c5667;
    background: #4c5667;
}.sidebar-body .nav.sub-menu .nav-item .nav-link::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #a9b4ca;
    position: absolute;
    left: -29px;
    top: 10px;
    -webkit-transition: all .7s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*==========================*/
/*== Main Content ==========*/
/*==========================*/

.main-content {    
    position: fixed;
    top: 60px;
    left: 240px;
    right: 0;
    bottom: 0;

    overflow-y: auto;
    z-index: 9;
}