

/*==========================*/
/*== Wrapper ===============*/
/*==========================*/

html, body {
    margin:0;
    height:100%;
    min-height:100%;
}
body {
    margin:0;
    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
    color: #4c5667;
    background: #fff;
    font-size: 14px;
    line-height: 22px;
    overflow-x: hidden;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}



/*==========================*/
/*== Main Header ===========*/
/*==========================*/

.main-header {
    background-color: #ededed;
    z-index: 999 !important;
}
.sticky-header .main-header {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.sticky-animation .main-header {
    animation: stickAnim .3s;
}


/*== NavBar ================*/

.navbar-nav {
    border-radius: 0px;
    padding: 20px 0px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.scrolled .navbar-nav {
    padding: 0px 0px !important;
}

.navbar-nav li a {
    color: #858585;
    font-size: 15px;
    margin: 10px 0px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 15px !important;
}

.navbar-brand
/* ,
.navbar-brand:hover, 
.navbar-brand:active  */
{
    /* color: #f16000;
    text-transform: uppercase;  */
    text-transform: lowercase;
    font-weight: 500;
    font-size: 22px;
    color: #374760 !important;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav li a:hover, 
.navbar-nav li a:active, 
.navbar-nav li.active a {
    color: #f16000;
}



/*==========================*/
/*== Main Content ==========*/
/*==========================*/

.main-content {
    flex-grow: 1;
}



/*==========================*/
/*== Main Footer ===========*/
/*==========================*/

.main-footer {
}
.main-footer .footer-nav {
    padding-top: 60px;
    padding-bottom: 60px;
}
.main-footer .footer-copyright {

    font-size: 12px;
}

.main-footer .footer-copyright .content {
    border-top: 1px solid rgba(151, 160, 175, 0.2);

    padding-top: 20px;
    padding-bottom: 20px;
}



/*==========================*/
/*== Security Screens ======*/
/*==========================*/

.security {
    height:100%;
    min-height:100%;

    /* Content always in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
}

.security-content {
    background-color: #fafafa !important;
    border: 1px solid #f5f5f5 !important;

    border-radius: 4px;
}
.security-header {
    padding: 1rem;
    text-align: center;
}
.security-body {
    padding: 1rem;
}
.security-footer {
    border-top: 1px solid #f5f5f5;
    padding: 0.5rem;
    text-align: center;
    color: #a7b4c4;
}
.security-footer .btn {
    color: #a7b4c4;
    font-size: 13px;
    font-weight: normal;
}
.security-footer .btn:hover {
    color: #343a40;
}

.security-title {
    color: #343a40;
    margin: 0;
}
.security-lead {
    color: #a7b4c4;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.security .alert {
    font-size: 13px;
    padding: .4rem 1rem;
    border-radius: 3px;
}

.security .form-control {
    height: 33px;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.07);
    transition-duration: .5s;
}
.security .form-control::placeholder {
    color: #a7b4c4;
    opacity: 1;
}
.security .form-control:-ms-input-placeholder {
    color: #a7b4c4;
}
.security .form-control::-ms-input-placeholder {
    color: #a7b4c4;
}
  




/*==========================*/
/*== Component =============*/
/*==========================*/

/*== Heading =========*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2, .h2 {
    font-size: 30px;
}
h3, .h3 {
    font-size: 24px;
}
h4, .h4 {
    font-size: 18px;
}
h5, .h5 {
    font-size: 14px;
}
h6, .h6 {
    font-size: 12px;
}

.heading {
    display: block;
    text-align: center;

    /* Content always in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading-title {
    display: block;
    margin: 0;
}
.heading-alt {
    display: block;
    margin: 0;

    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}
.heading-lead {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin-left: auto;
    margin-right: auto;

    width: 70%;
}

.heading-alt,
.heading .colored {
    color: #f16000;
}


/*== Background =========*/

/* Background Image */
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Background Overlay */
.bg-overlay {
    position: relative;
}
.bg-overlay * {
    z-index: 1;
}
.bg-overlay::after {
    content: "";
    background-color: #ffffff;
    opacity: 0.85;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 0;
}

/* Background Color */
.bg-gray {
    background-color: #fafafa !important;
    border-color: #f5f5f5 !important;
    color: #4c5667 !important;
}
.bg-gray.bg-overlay::after {
    background: -webkit-linear-gradient(#fafafa, #f5f5f5);
    background: -moz-linear-gradient(#fafafa, #f5f5f5);
    background: -ms-linear-gradient(#fafafa, #f5f5f5);
    background: -o-linear-gradient(#fafafa, #f5f5f5);
    background: linear-gradient(#fafafa, #f5f5f5);
}

.bg-dark {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #ffffff !important;
}
.bg-dark.bg-overlay::after {
    background: -webkit-linear-gradient(#343a40, #222c36);
    background: -moz-linear-gradient(#343a40, #222c36);
    background: -ms-linear-gradient(#343a40, #222c36);
    background: -o-linear-gradient(#343a40, #222c36);
    background: linear-gradient(#343a40, #222c36);
}

.bg-dark-blue {
    background-color: #4c5667 !important;
    border-color: #4c5667 !important;
    color: #ffffff !important;
}
.bg-dark-blue.bg-overlay::after {
    background: -webkit-linear-gradient(#444F5C, #334159);
    background: -moz-linear-gradient(#444F5C, #334159);
    background: -ms-linear-gradient(#444F5C, #334159);
    background: -o-linear-gradient(#444F5C, #334159);
    background: linear-gradient(#444F5C, #334159);
}


/*== Page Header =========*/

.page-header {
    color: #ffffff;
    height: 280px;
}


/*== Section =========*/

.section {
    padding: 60px 0;
}


/*== Main Carousel =========*/

.main-carousel {
    background-color: #4c5667;
    /* margin-bottom: 60px; */
}
.main-carousel .carousel-item {
    height: 380px;
}



/*==========================*/
/*== Animations ============*/
/*==========================*/

@keyframes stickAnim {
	0% {
		transform: translateY(-86px);
	}
	100% {
		transform: translateY(0);
	}
}