/*==========================*/
/*== Navigation ============*/
/*==========================*/

.navbar-nav {
    border-radius: 0px;
    padding: 20px 0px;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.scrolled .navbar-nav {
    padding: 0px 0px !important;
}

.navbar-nav li a {
    color: #858585;
    font-size: 15px;
    margin: 10px 0px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 15px !important;
}

.navbar-brand
{
    /* color: #f16000;
    text-transform: uppercase;  */
    text-transform: lowercase;
    font-weight: 500;
    font-size: 22px;
    color: #374760 !important;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand .colored
{
    color: #f16000 !important;
}

.navbar-nav li a:hover, 
.navbar-nav li a:active, 
.navbar-nav li.active a {
    color: #f16000;
}