/* Vendor */

/* @import 'vendors/bootstrap'; */
/* @import 'vendors/jquery-ui'; */


/* Abtracts */

@import './abstracts/variables';
@import './abstracts/functions';
@import './abstracts/mixins';


/* Base */

/* @import 'base/reset'; */
/* @import 'base/typography'; */


/* Layout */

@import './layout/navigation';
@import './layout/header';
@import './layout/sidebar';
@import './layout/content';
@import './layout/footer';
/* @import 'layout/forms'; */
/* @import 'layout/security'; */


/* Components */

/* @import 'components/buttons'; */
/* @import 'components/carousel'; */
/* @import 'components/slider'; */
@import './components/headings';


/* Pages */

/* @import 'pages/home'; */
/* @import 'pages/about'; */
/* @import 'pages/contact'; */


/* Themes */

/* @import './themes/light'; */
/* @import './themes/dark'; */


/*



// @import 'layout/navigation';
// @import 'layout/grid';

/*
@import './components/flag/flag-icon';





*/


/*==========================*/
/*== Common ================*/
/*==========================*/

html, body {
    background: #ffffff;

    margin:0;
    height:100%;
    min-height:100%;
}
body {
    margin:0;
    display: flex;
    flex-direction: column;
    
    color: #4c5667;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 22px;
    overflow-x: hidden;
}

.main-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}







/*==========================*/
/*== Main Content ==========*/
/*==========================*/

.main-content {
    flex-grow: 1;
}






/*==========================*/
/*== Security Screens ======*/
/*==========================*/

.security {
    height:100%;
    min-height:100%;

    /* Content always in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
}

.security-content {
    background-color: #fafafa !important;
    border: 1px solid #f5f5f5 !important;

    border-radius: 4px;
}
.security-header {
    padding: 1rem;
    text-align: center;
}
.security-body {
    padding: 1rem;
}
.security-footer {
    border-top: 1px solid #f5f5f5;
    padding: 0.5rem;
    text-align: center;
    color: #a7b4c4;
}
.security-footer .btn {
    color: #a7b4c4;
    font-size: 13px;
    font-weight: normal;
}
.security-footer .btn:hover {
    color: #343a40;
}
.security-copyright {
    text-align: center;
    color: #a7b4c4;
    font-size: 12px;
    font-weight: normal;

    padding-top: .5rem;
}
.security-copyright a {
    color: inherit;
    transition: all .3s;
}
.security-copyright a:hover {
    color: #343a40;
    text-decoration: none;
}

.security-title {
    color: #343a40;
    margin: 0;
}
.security-lead {
    color: #a7b4c4;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.security .alert {
    font-size: 13px;
    padding: .4rem 1rem;
    border-radius: 3px;
}

.security .form-control {
    height: 33px;
    font-size: 13px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.07);
    transition-duration: .5s;
}
.security .form-control::placeholder {
    color: #a7b4c4;
    opacity: 1;
}
.security .form-control:-ms-input-placeholder {
    color: #a7b4c4;
}
.security .form-control::-ms-input-placeholder {
    color: #a7b4c4;
}
  




/*==========================*/
/*== Component =============*/
/*==========================*/

/*== Heading =========*/



/*== Background =========*/

/* Background Image */
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Background Overlay */
.bg-overlay {
    position: relative;
}
.bg-overlay * {
    z-index: 1;
}
.bg-overlay::after {
    content: "";
    background-color: #ffffff;
    opacity: 0.85;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 0;
}

/* Background Color */
.bg-gray {
    background-color: #fafafa !important;
    border-color: #f5f5f5 !important;
    color: #4c5667 !important;
}
.bg-gray.bg-overlay::after {
    background: -webkit-linear-gradient(#fafafa, #f5f5f5);
    background: -moz-linear-gradient(#fafafa, #f5f5f5);
    background: -ms-linear-gradient(#fafafa, #f5f5f5);
    background: -o-linear-gradient(#fafafa, #f5f5f5);
    background: linear-gradient(#fafafa, #f5f5f5);
}

.bg-dark {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #ffffff !important;
}
.bg-dark.bg-overlay::after {
    background: -webkit-linear-gradient(#343a40, #222c36);
    background: -moz-linear-gradient(#343a40, #222c36);
    background: -ms-linear-gradient(#343a40, #222c36);
    background: -o-linear-gradient(#343a40, #222c36);
    background: linear-gradient(#343a40, #222c36);
}

.bg-dark-blue {
    background-color: #4c5667 !important;
    border-color: #4c5667 !important;
    color: #ffffff !important;
}
.bg-dark-blue.bg-overlay::after {
    background: -webkit-linear-gradient(#444F5C, #334159);
    background: -moz-linear-gradient(#444F5C, #334159);
    background: -ms-linear-gradient(#444F5C, #334159);
    background: -o-linear-gradient(#444F5C, #334159);
    background: linear-gradient(#444F5C, #334159);
}


/*== Page Header =========*/

.page-header {
    color: #ffffff;
    height: 280px;
}


/*== Section =========*/

.section {
    padding: 60px 0;
}

.section-content {
    /* border: 1px solid red; */
    padding-top: 2rem;
}


/*== Card =========*/

.card,
.card-header,
.card-body,
.card-footer {
    background-color: transparent;
    border: none;
}
.card {
	min-height: 100%;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    margin: 1rem 0 0 0;
}

.card-body {
    padding-top: 0;
    /* padding-bottom: 0; */
    color: #9aa7af;
    transition: all .3s;
}
.card:hover .card-body {
    color: #4c5667;
}

.card-body p:last-child {
    margin-bottom: 0;
}


/*== Main Carousel =========*/

.main-carousel {
    background-color: #4c5667;
    /* margin-bottom: 60px; */
}
.main-carousel .carousel-item {
    height: 380px;
}



/*==========================*/
/*== Animations ============*/
/*==========================*/

@keyframes stickAnim {
	0% {
		transform: translateY(-86px);
	}
	100% {
		transform: translateY(0);
	}
}