{% if title is defined %}{% set heading_title = title %}{% else %}{% set heading_title = null %}{% endif %}
{% if alt is defined %}{% set heading_alt = alt %}{% else %}{% set heading_alt = null %}{% endif %}
{% if lead is defined %}{% set heading_lead = lead %}{% else %}{% set heading_lead = null %}{% endif %}

<header class="heading page-header text-center bg-dark-blue bg-img bg-overlay" style="background-image: url(https://dqvh7oj3vu3ch.cloudfront.net/720x,q85/articles/31.08_-_FB_&_G+.jpg);">
    <div class="container">

        <div class="heading-content"  data-aos="fade-up">
            {% if heading_alt is not empty %}<p class="heading-alt">{{ heading_alt | raw }}</p>{% endif %}
            {% if heading_title is not empty %}<h2 class="heading-title">{{ heading_title | raw }}</h2>{% endif %}
            {% if heading_lead is not empty %}<p class="heading-lead">{{ heading_lead | raw }}</p>{% endif %}
        </div>

    </div>
</header>