<header class="heading page-header bg-dark-blue bg-img bg-overlay" style="background-image: url(https://images.unsplash.com/photo-1586717799252-bd134ad00e26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="container">

        <div class="heading-content"  data-aos="fade-up">
            <p class="heading-alt">lorem</p>
            <h2 class="heading-title">{{ title }} <span class="colored">lorem</span></h2>
            <p class="heading-lead">Lorem ipsum dolor sit amet <span class="colored">consectetur adipisicing</span> elit. Nihil, veritatis nostrum. Voluptas error fugiat facilis libero porro aperiam magnam ab veniam praesentium? Velit fugit aliquam assumenda facere illo illum unde.</p>
        </div>

    </div>
</header>