// Color : Black-russian
// --
// @info: https://www.htmlcsscolor.com/hex/111723
// ========================================

// Base
// ------------------
$black-russian: #111723;


// Shades (from $black-russian to black)
// ------------------
$black-russian-shade-1: #0E121C;
$black-russian-shade-2: #0B0E16;
$black-russian-shade-3: #090B12;
$black-russian-shade-4: #07090E;
$black-russian-shade-5: #06070B;
$black-russian-shade-6: #050609;
$black-russian-shade-7: #040507;
$black-russian-shade-8: #030406;
$black-russian-shade-9: #020305;


// Tints (from $black-russian to white)
// ------------------
$black-russian-tint-1: #41454F;
$black-russian-tint-2: #676A72;
$black-russian-tint-3: #85888E;
$black-russian-tint-4: #9DA0A5;
$black-russian-tint-5: #B1B3B7;
$black-russian-tint-6: #C1C2C5;
$black-russian-tint-7: #CDCED1;
$black-russian-tint-8: #D7D8DA;
$black-russian-tint-9: #DFE0E1;


// Variations
// ------------------
$black-russian-variation-1: #111723;
$black-russian-variation-2: #112317;
$black-russian-variation-3: #171123;
$black-russian-variation-4: #172311;
$black-russian-variation-5: #231117;
$black-russian-variation-6: #231711;


// Alpha
// ------------------
$black-russian-100: rgba($black-russian, 1);
$black-russian-95: rgba($black-russian, .95);
$black-russian-90: rgba($black-russian, .9);
$black-russian-85: rgba($black-russian, .85);
$black-russian-80: rgba($black-russian, .8);
$black-russian-75: rgba($black-russian, .75);
$black-russian-70: rgba($black-russian, .7);
$black-russian-65: rgba($black-russian, .65);
$black-russian-60: rgba($black-russian, .6);
$black-russian-55: rgba($black-russian, .55);
$black-russian-50: rgba($black-russian, .5);
$black-russian-45: rgba($black-russian, .45);
$black-russian-40: rgba($black-russian, .4);
$black-russian-35: rgba($black-russian, .35);
$black-russian-30: rgba($black-russian, .3);
$black-russian-25: rgba($black-russian, .25);
$black-russian-20: rgba($black-russian, .2);
$black-russian-15: rgba($black-russian, .15);
$black-russian-10: rgba($black-russian, .1);
$black-russian-05: rgba($black-russian, .05);
$black-russian-00: rgba($black-russian, .0);