// Color : East-bay
// --
// @info: https://www.htmlcsscolor.com/hex/4c5667
// ========================================

// Base
// ------------------
$east-bay: #4c5667;


// Shades (from $east-bay to black)
// ------------------
$east-bay-shade-1: #3D4552;
$east-bay-shade-2: #313742;
$east-bay-shade-3: #272C35;
$east-bay-shade-4: #1F232A;
$east-bay-shade-5: #191C22;
$east-bay-shade-6: #14161B;
$east-bay-shade-7: #101216;
$east-bay-shade-8: #0D0E12;
$east-bay-shade-9: #0A0B0E;


// Tints (from $east-bay to white)
// ------------------
$east-bay-tint-1: #707885;
$east-bay-tint-2: #8D939D;
$east-bay-tint-3: #A4A9B1;
$east-bay-tint-4: #B6BAC1;
$east-bay-tint-5: #C5C8CD;
$east-bay-tint-6: #D1D3D7;
$east-bay-tint-7: #DADCDF;
$east-bay-tint-8: #E1E3E5;
$east-bay-tint-9: #E7E9EA;


// Variations
// ------------------
$east-bay-variation-1: #4C5667;
$east-bay-variation-2: #4C6756;
$east-bay-variation-3: #564C67;
$east-bay-variation-4: #56674C;
$east-bay-variation-5: #674C56;
$east-bay-variation-6: #67564C;


// Alpha
// ------------------
$east-bay-100: rgba($east-bay, 1);
$east-bay-95: rgba($east-bay, .95);
$east-bay-90: rgba($east-bay, .9);
$east-bay-85: rgba($east-bay, .85);
$east-bay-80: rgba($east-bay, .8);
$east-bay-75: rgba($east-bay, .75);
$east-bay-70: rgba($east-bay, .7);
$east-bay-65: rgba($east-bay, .65);
$east-bay-60: rgba($east-bay, .6);
$east-bay-55: rgba($east-bay, .55);
$east-bay-50: rgba($east-bay, .5);
$east-bay-45: rgba($east-bay, .45);
$east-bay-40: rgba($east-bay, .4);
$east-bay-35: rgba($east-bay, .35);
$east-bay-30: rgba($east-bay, .3);
$east-bay-25: rgba($east-bay, .25);
$east-bay-20: rgba($east-bay, .2);
$east-bay-15: rgba($east-bay, .15);
$east-bay-10: rgba($east-bay, .1);
$east-bay-05: rgba($east-bay, .05);
$east-bay-00: rgba($east-bay, .0);