// Color : Grey
// --
// @info: https://www.htmlcsscolor.com/hex/858585
// ========================================

// Base
// ------------------
$grey: #858585;


// Shades (from $grey to black)
// ------------------
$grey-shade-1: #6A6A6A;
$grey-shade-2: #555555;
$grey-shade-3: #444444;
$grey-shade-4: #363636;
$grey-shade-5: #2B2B2B;
$grey-shade-6: #222222;
$grey-shade-7: #1B1B1B;
$grey-shade-8: #161616;
$grey-shade-9: #121212;


// Tints (from $grey to white)
// ------------------
$grey-tint-1: #9D9D9D;
$grey-tint-2: #B1B1B1;
$grey-tint-3: #C1C1C1;
$grey-tint-4: #CDCDCD;
$grey-tint-5: #D7D7D7;
$grey-tint-6: #DFDFDF;
$grey-tint-7: #E5E5E5;
$grey-tint-8: #EAEAEA;
$grey-tint-9: #EEEEEE;


// Variations
// ------------------
$grey-variation-1: #858585;
$grey-variation-2: #858585;
$grey-variation-3: #858585;
$grey-variation-4: #858585;
$grey-variation-5: #858585;
$grey-variation-6: #858585;


// Alpha
// ------------------
$grey-100: rgba($grey, 1);
$grey-95: rgba($grey, .95);
$grey-90: rgba($grey, .9);
$grey-85: rgba($grey, .85);
$grey-80: rgba($grey, .8);
$grey-75: rgba($grey, .75);
$grey-70: rgba($grey, .7);
$grey-65: rgba($grey, .65);
$grey-60: rgba($grey, .6);
$grey-55: rgba($grey, .55);
$grey-50: rgba($grey, .5);
$grey-45: rgba($grey, .45);
$grey-40: rgba($grey, .4);
$grey-35: rgba($grey, .35);
$grey-30: rgba($grey, .3);
$grey-25: rgba($grey, .25);
$grey-20: rgba($grey, .2);
$grey-15: rgba($grey, .15);
$grey-10: rgba($grey, .1);
$grey-05: rgba($grey, .05);
$grey-00: rgba($grey, .0);