// Color : Gulf-blue
// --
// @info: https://www.htmlcsscolor.com/hex/374760
// ========================================

// Base
// ------------------
$gulf-blue: #374760;


// Shades (from $gulf-blue to black)
// ------------------
$gulf-blue-shade-1: #2C394D;
$gulf-blue-shade-2: #232E3E;
$gulf-blue-shade-3: #1C2532;
$gulf-blue-shade-4: #161E28;
$gulf-blue-shade-5: #121820;
$gulf-blue-shade-6: #0E131A;
$gulf-blue-shade-7: #0B0F15;
$gulf-blue-shade-8: #090C11;
$gulf-blue-shade-9: #070A0E;


// Tints (from $gulf-blue to white)
// ------------------
$gulf-blue-tint-1: #5F6C80;
$gulf-blue-tint-2: #7F8999;
$gulf-blue-tint-3: #99A1AD;
$gulf-blue-tint-4: #ADB4BD;
$gulf-blue-tint-5: #BDC3CA;
$gulf-blue-tint-6: #CACFD5;
$gulf-blue-tint-7: #D5D9DD;
$gulf-blue-tint-8: #DDE1E4;
$gulf-blue-tint-9: #E4E7E9;


// Variations
// ------------------
$gulf-blue-variation-1: #374760;
$gulf-blue-variation-2: #376047;
$gulf-blue-variation-3: #473760;
$gulf-blue-variation-4: #476037;
$gulf-blue-variation-5: #603747;
$gulf-blue-variation-6: #604737;


// Alpha
// ------------------
$gulf-blue-100: rgba($gulf-blue, 1);
$gulf-blue-95: rgba($gulf-blue, .95);
$gulf-blue-90: rgba($gulf-blue, .9);
$gulf-blue-85: rgba($gulf-blue, .85);
$gulf-blue-80: rgba($gulf-blue, .8);
$gulf-blue-75: rgba($gulf-blue, .75);
$gulf-blue-70: rgba($gulf-blue, .7);
$gulf-blue-65: rgba($gulf-blue, .65);
$gulf-blue-60: rgba($gulf-blue, .6);
$gulf-blue-55: rgba($gulf-blue, .55);
$gulf-blue-50: rgba($gulf-blue, .5);
$gulf-blue-45: rgba($gulf-blue, .45);
$gulf-blue-40: rgba($gulf-blue, .4);
$gulf-blue-35: rgba($gulf-blue, .35);
$gulf-blue-30: rgba($gulf-blue, .3);
$gulf-blue-25: rgba($gulf-blue, .25);
$gulf-blue-20: rgba($gulf-blue, .2);
$gulf-blue-15: rgba($gulf-blue, .15);
$gulf-blue-10: rgba($gulf-blue, .1);
$gulf-blue-05: rgba($gulf-blue, .05);
$gulf-blue-00: rgba($gulf-blue, .0);