// Color : Limerick
// --
// @info: https://www.htmlcsscolor.com/hex/A0AF33
// ========================================

// Base
// ------------------
$limerick: #A0AF33;


// Shades (from $limerick to black)
// ------------------
$limerick-shade-1: #808C29;
$limerick-shade-2: #667021;
$limerick-shade-3: #525A1A;
$limerick-shade-4: #424815;
$limerick-shade-5: #353A11;
$limerick-shade-6: #2A2E0E;
$limerick-shade-7: #22250B;
$limerick-shade-8: #1B1E09;
$limerick-shade-9: #161807;


// Tints (from $limerick to white)
// ------------------
$limerick-tint-1: #B3BF5C;
$limerick-tint-2: #C2CC7D;
$limerick-tint-3: #CED697;
$limerick-tint-4: #D8DEAC;
$limerick-tint-5: #E0E5BD;
$limerick-tint-6: #E6EACA;
$limerick-tint-7: #EBEED5;
$limerick-tint-8: #EFF1DD;
$limerick-tint-9: #F2F4E4;


// Variations
// ------------------
$limerick-variation-1: #A0AF33;
$limerick-variation-2: #A033AF;
$limerick-variation-3: #AFA033;
$limerick-variation-4: #AF33A0;
$limerick-variation-5: #33A0AF;
$limerick-variation-6: #33AFA0;


// Alpha
// ------------------
$limerick-100: rgba($limerick, 1);
$limerick-95: rgba($limerick, .95);
$limerick-90: rgba($limerick, .9);
$limerick-85: rgba($limerick, .85);
$limerick-80: rgba($limerick, .8);
$limerick-75: rgba($limerick, .75);
$limerick-70: rgba($limerick, .7);
$limerick-65: rgba($limerick, .65);
$limerick-60: rgba($limerick, .6);
$limerick-55: rgba($limerick, .55);
$limerick-50: rgba($limerick, .5);
$limerick-45: rgba($limerick, .45);
$limerick-40: rgba($limerick, .4);
$limerick-35: rgba($limerick, .35);
$limerick-30: rgba($limerick, .3);
$limerick-25: rgba($limerick, .25);
$limerick-20: rgba($limerick, .2);
$limerick-15: rgba($limerick, .15);
$limerick-10: rgba($limerick, .1);
$limerick-05: rgba($limerick, .05);
$limerick-00: rgba($limerick, .0);