// Color : Nepal
// --
// @info: https://www.htmlcsscolor.com/hex/9aa7af
// ========================================

// Base
// ------------------
$nepal: #9aa7af;


// Shades (from $nepal to black)
// ------------------
$nepal-shade-1: #7B868C;
$nepal-shade-2: #626B70;
$nepal-shade-3: #4E565A;
$nepal-shade-4: #3E4548;
$nepal-shade-5: #32373A;
$nepal-shade-6: #282C2E;
$nepal-shade-7: #202325;
$nepal-shade-8: #1A1C1E;
$nepal-shade-9: #151618;


// Tints (from $nepal to white)
// ------------------
$nepal-tint-1: #AEB9BF;
$nepal-tint-2: #BEC7CC;
$nepal-tint-3: #CBD2D6;
$nepal-tint-4: #D5DBDE;
$nepal-tint-5: #DDE2E5;
$nepal-tint-6: #E4E8EA;
$nepal-tint-7: #E9EDEE;
$nepal-tint-8: #EDF1F1;
$nepal-tint-9: #F1F4F4;


// Variations
// ------------------
$nepal-variation-1: #9AA7AF;
$nepal-variation-2: #9AAFA7;
$nepal-variation-3: #A79AAF;
$nepal-variation-4: #A7AF9A;
$nepal-variation-5: #AF9AA7;
$nepal-variation-6: #AFA79A;


// Alpha
// ------------------
$nepal-100: rgba($nepal, 1);
$nepal-95: rgba($nepal, .95);
$nepal-90: rgba($nepal, .9);
$nepal-85: rgba($nepal, .85);
$nepal-80: rgba($nepal, .8);
$nepal-75: rgba($nepal, .75);
$nepal-70: rgba($nepal, .7);
$nepal-65: rgba($nepal, .65);
$nepal-60: rgba($nepal, .6);
$nepal-55: rgba($nepal, .55);
$nepal-50: rgba($nepal, .5);
$nepal-45: rgba($nepal, .45);
$nepal-40: rgba($nepal, .4);
$nepal-35: rgba($nepal, .35);
$nepal-30: rgba($nepal, .3);
$nepal-25: rgba($nepal, .25);
$nepal-20: rgba($nepal, .2);
$nepal-15: rgba($nepal, .15);
$nepal-10: rgba($nepal, .1);
$nepal-05: rgba($nepal, .05);
$nepal-00: rgba($nepal, .0);