// Color : Night-rider
// --
// @info: https://www.htmlcsscolor.com/hex/333333
// ========================================

// Base
// ------------------
$night-rider: #333333;


// Shades (from $night-rider to black)
// ------------------
$night-rider-shade-1: #292929;
$night-rider-shade-2: #212121;
$night-rider-shade-3: #1A1A1A;
$night-rider-shade-4: #151515;
$night-rider-shade-5: #111111;
$night-rider-shade-6: #0E0E0E;
$night-rider-shade-7: #0B0B0B;
$night-rider-shade-8: #090909;
$night-rider-shade-9: #070707;


// Tints (from $night-rider to white)
// ------------------
$night-rider-tint-1: #5C5C5C;
$night-rider-tint-2: #7D7D7D;
$night-rider-tint-3: #979797;
$night-rider-tint-4: #ACACAC;
$night-rider-tint-5: #BDBDBD;
$night-rider-tint-6: #CACACA;
$night-rider-tint-7: #D5D5D5;
$night-rider-tint-8: #DDDDDD;
$night-rider-tint-9: #E4E4E4;


// Variations
// ------------------
$night-rider-variation-1: #333333;
$night-rider-variation-2: #333333;
$night-rider-variation-3: #333333;
$night-rider-variation-4: #333333;
$night-rider-variation-5: #333333;
$night-rider-variation-6: #333333;


// Alpha
// ------------------
$night-rider-100: rgba($night-rider, 1);
$night-rider-95: rgba($night-rider, .95);
$night-rider-90: rgba($night-rider, .9);
$night-rider-85: rgba($night-rider, .85);
$night-rider-80: rgba($night-rider, .8);
$night-rider-75: rgba($night-rider, .75);
$night-rider-70: rgba($night-rider, .7);
$night-rider-65: rgba($night-rider, .65);
$night-rider-60: rgba($night-rider, .6);
$night-rider-55: rgba($night-rider, .55);
$night-rider-50: rgba($night-rider, .5);
$night-rider-45: rgba($night-rider, .45);
$night-rider-40: rgba($night-rider, .4);
$night-rider-35: rgba($night-rider, .35);
$night-rider-30: rgba($night-rider, .3);
$night-rider-25: rgba($night-rider, .25);
$night-rider-20: rgba($night-rider, .2);
$night-rider-15: rgba($night-rider, .15);
$night-rider-10: rgba($night-rider, .1);
$night-rider-05: rgba($night-rider, .05);
$night-rider-00: rgba($night-rider, .0);