// Color : Persimmon
// --
// @info: https://www.htmlcsscolor.com/hex/F16000
// ========================================

// Base
// ------------------
$persimmon: #F16000;


// Shades (from $persimmon to black)
// ------------------
$persimmon-shade-1: #C14D00;
$persimmon-shade-2: #9A3E00;
$persimmon-shade-3: #7B3200;
$persimmon-shade-4: #622800;
$persimmon-shade-5: #4E2000;
$persimmon-shade-6: #3E1A00;
$persimmon-shade-7: #321500;
$persimmon-shade-8: #281100;
$persimmon-shade-9: #200E00;


// Tints (from $persimmon to white)
// ------------------
$persimmon-tint-1: #F48033;
$persimmon-tint-2: #F6995C;
$persimmon-tint-3: #F8AD7D;
$persimmon-tint-4: #F9BD97;
$persimmon-tint-5: #FACAAC;
$persimmon-tint-6: #FBD5BD;
$persimmon-tint-7: #FCDDCA;
$persimmon-tint-8: #FDE4D5;
$persimmon-tint-9: #FDE9DD;


// Variations
// ------------------
$persimmon-variation-1: #F16000;
$persimmon-variation-2: #F10060;
$persimmon-variation-3: #60F100;
$persimmon-variation-4: #6000F1;
$persimmon-variation-5: #00F160;
$persimmon-variation-6: #0060F1;


// Alpha
// ------------------
$persimmon-100: rgba($persimmon, 1);
$persimmon-95: rgba($persimmon, .95);
$persimmon-90: rgba($persimmon, .9);
$persimmon-85: rgba($persimmon, .85);
$persimmon-80: rgba($persimmon, .8);
$persimmon-75: rgba($persimmon, .75);
$persimmon-70: rgba($persimmon, .7);
$persimmon-65: rgba($persimmon, .65);
$persimmon-60: rgba($persimmon, .6);
$persimmon-55: rgba($persimmon, .55);
$persimmon-50: rgba($persimmon, .5);
$persimmon-45: rgba($persimmon, .45);
$persimmon-40: rgba($persimmon, .4);
$persimmon-35: rgba($persimmon, .35);
$persimmon-30: rgba($persimmon, .3);
$persimmon-25: rgba($persimmon, .25);
$persimmon-20: rgba($persimmon, .2);
$persimmon-15: rgba($persimmon, .15);
$persimmon-10: rgba($persimmon, .1);
$persimmon-05: rgba($persimmon, .05);
$persimmon-00: rgba($persimmon, .0);