// Color : Silver
// --
// @info: https://www.htmlcsscolor.com/hex/BEBEBE
// ========================================

// Base
// ------------------
$silver: #BEBEBE;


// Shades (from $silver to black)
// ------------------
$silver-shade-1: #989898;
$silver-shade-2: #7A7A7A;
$silver-shade-3: #626262;
$silver-shade-4: #4E4E4E;
$silver-shade-5: #3E3E3E;
$silver-shade-6: #323232;
$silver-shade-7: #282828;
$silver-shade-8: #202020;
$silver-shade-9: #1A1A1A;


// Tints (from $silver to white)
// ------------------
$silver-tint-1: #CBCBCB;
$silver-tint-2: #D5D5D5;
$silver-tint-3: #DDDDDD;
$silver-tint-4: #E4E4E4;
$silver-tint-5: #E9E9E9;
$silver-tint-6: #EDEDED;
$silver-tint-7: #F1F1F1;
$silver-tint-8: #F4F4F4;
$silver-tint-9: #F6F6F6;


// Variations
// ------------------
$silver-variation-1: #BEBEBE;
$silver-variation-2: #BEBEBE;
$silver-variation-3: #BEBEBE;
$silver-variation-4: #BEBEBE;
$silver-variation-5: #BEBEBE;
$silver-variation-6: #BEBEBE;


// Alpha
// ------------------
$silver-100: rgba($silver, 1);
$silver-95: rgba($silver, .95);
$silver-90: rgba($silver, .9);
$silver-85: rgba($silver, .85);
$silver-80: rgba($silver, .8);
$silver-75: rgba($silver, .75);
$silver-70: rgba($silver, .7);
$silver-65: rgba($silver, .65);
$silver-60: rgba($silver, .6);
$silver-55: rgba($silver, .55);
$silver-50: rgba($silver, .5);
$silver-45: rgba($silver, .45);
$silver-40: rgba($silver, .4);
$silver-35: rgba($silver, .35);
$silver-30: rgba($silver, .3);
$silver-25: rgba($silver, .25);
$silver-20: rgba($silver, .2);
$silver-15: rgba($silver, .15);
$silver-10: rgba($silver, .1);
$silver-05: rgba($silver, .05);
$silver-00: rgba($silver, .0);