// Color : Whisper
// --
// @info: https://www.htmlcsscolor.com/hex/EDEDED
// ========================================

// Base
// ------------------
$whisper: #EDEDED;


// Shades (from $whisper to black)
// ------------------
$whisper-shade-1: #BEBEBE;
$whisper-shade-2: #989898;
$whisper-shade-3: #7A7A7A;
$whisper-shade-4: #626262;
$whisper-shade-5: #4E4E4E;
$whisper-shade-6: #3E3E3E;
$whisper-shade-7: #323232;
$whisper-shade-8: #282828;
$whisper-shade-9: #202020;


// Tints (from $whisper to white)
// ------------------
$whisper-tint-1: #F1F1F1;
$whisper-tint-2: #F4F4F4;
$whisper-tint-3: #F6F6F6;
$whisper-tint-4: #F8F8F8;
$whisper-tint-5: #F9F9F9;
$whisper-tint-6: #FAFAFA;
$whisper-tint-7: #FBFBFB;
$whisper-tint-8: #FCFCFC;
$whisper-tint-9: #FDFDFD;


// Variations
// ------------------
$whisper-variation-1: #EDEDED;
$whisper-variation-2: #EDEDED;
$whisper-variation-3: #EDEDED;
$whisper-variation-4: #EDEDED;
$whisper-variation-5: #EDEDED;
$whisper-variation-6: #EDEDED;


// Alpha
// ------------------
$whisper-100: rgba($whisper, 1);
$whisper-95: rgba($whisper, .95);
$whisper-90: rgba($whisper, .9);
$whisper-85: rgba($whisper, .85);
$whisper-80: rgba($whisper, .8);
$whisper-75: rgba($whisper, .75);
$whisper-70: rgba($whisper, .7);
$whisper-65: rgba($whisper, .65);
$whisper-60: rgba($whisper, .6);
$whisper-55: rgba($whisper, .55);
$whisper-50: rgba($whisper, .5);
$whisper-45: rgba($whisper, .45);
$whisper-40: rgba($whisper, .4);
$whisper-35: rgba($whisper, .35);
$whisper-30: rgba($whisper, .3);
$whisper-25: rgba($whisper, .25);
$whisper-20: rgba($whisper, .2);
$whisper-15: rgba($whisper, .15);
$whisper-10: rgba($whisper, .1);
$whisper-05: rgba($whisper, .05);
$whisper-00: rgba($whisper, .0);