// Color : White-smoke
// --
// @info: https://www.htmlcsscolor.com/hex/F5F5F5
// ========================================

// Base
// ------------------
$white-smoke: #F5F5F5;


// Shades (from $white-smoke to black)
// ------------------
$white-smoke-shade-1: #C4C4C4;
$white-smoke-shade-2: #9D9D9D;
$white-smoke-shade-3: #7E7E7E;
$white-smoke-shade-4: #656565;
$white-smoke-shade-5: #515151;
$white-smoke-shade-6: #414141;
$white-smoke-shade-7: #343434;
$white-smoke-shade-8: #2A2A2A;
$white-smoke-shade-9: #222222;


// Tints (from $white-smoke to white)
// ------------------
$white-smoke-tint-1: #F7F7F7;
$white-smoke-tint-2: #F9F9F9;
$white-smoke-tint-3: #FAFAFA;
$white-smoke-tint-4: #FBFBFB;
$white-smoke-tint-5: #FCFCFC;
$white-smoke-tint-6: #FDFDFD;
$white-smoke-tint-7: #FDFDFD;
$white-smoke-tint-8: #FDFDFD;
$white-smoke-tint-9: #FDFDFD;


// Variations
// ------------------
$white-smoke-variation-1: #F5F5F5;
$white-smoke-variation-2: #F5F5F5;
$white-smoke-variation-3: #F5F5F5;
$white-smoke-variation-4: #F5F5F5;
$white-smoke-variation-5: #F5F5F5;
$white-smoke-variation-6: #F5F5F5;


// Alpha
// ------------------
$white-smoke-100: rgba($white-smoke, 1);
$white-smoke-95: rgba($white-smoke, .95);
$white-smoke-90: rgba($white-smoke, .9);
$white-smoke-85: rgba($white-smoke, .85);
$white-smoke-80: rgba($white-smoke, .8);
$white-smoke-75: rgba($white-smoke, .75);
$white-smoke-70: rgba($white-smoke, .7);
$white-smoke-65: rgba($white-smoke, .65);
$white-smoke-60: rgba($white-smoke, .6);
$white-smoke-55: rgba($white-smoke, .55);
$white-smoke-50: rgba($white-smoke, .5);
$white-smoke-45: rgba($white-smoke, .45);
$white-smoke-40: rgba($white-smoke, .4);
$white-smoke-35: rgba($white-smoke, .35);
$white-smoke-30: rgba($white-smoke, .3);
$white-smoke-25: rgba($white-smoke, .25);
$white-smoke-20: rgba($white-smoke, .2);
$white-smoke-15: rgba($white-smoke, .15);
$white-smoke-10: rgba($white-smoke, .1);
$white-smoke-05: rgba($white-smoke, .05);
$white-smoke-00: rgba($white-smoke, .0);