
.card,
.card-header,
.card-body,
.card-footer {
    background-color: transparent;
    border: none;
}
.card {
	min-height: 100%;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    margin: 1rem 0 0 0;
}

.card-body {
    padding-top: 0;
    /* padding-bottom: 0; */
    color: $nepal;
    transition: all .3s;
}
.card:hover .card-body {
    color: $east-bay;
}

.card-body p:last-child {
    margin-bottom: 0;
}
